
body
{
    color: beige;
    background-color: black;
    font-family: serif;
    margin-left: 36%;
    margin-top: -3%;
    justify-content: center;
    align-items: center

}
fieldset.titulo
{
   
    width: 35%;
    top: 240px;
    position: relative;
    border: 2px solid rgb(0, 28, 119);
    
}

/*imagem*/
img
{   
    width: 100%;
}
fieldset.img
{
    background-color: black;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    width: 40%;
    left: -30px;
    top: 1.50cm;
}
/* Formulario*/
.form
{
    color: white;
    font-size: 30px;

}
.acesso
{
    position: relative;
    font-size: 30px;
    color:white;

}
button
{
    font-size: 20px;
    
    position: relative;
    width: 40%;
    top: 30px ;
    left: 70px;
}
button:hover
{
    background-color: rgb(15, 15, 66);
}